//*-- Reset --*

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

//*-- Content --*

body {
	font-family: 'Open Sans', Helvetica, Calibri, Arial, sans-serif;
}

#info {
	position: absolute;
	bottom: 1.3em;
	right: 0.0em;
	font-size: 0.65em;
	color: #222;
	padding: 0.4em;
	text-align: right;
	background: rgba(255,255,255,0.7);
	z-index: 10;
}

#map_canvas {
	width: 100%;
	height: 100%;
}
